<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ERP Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/commonscript")
</head>
<body ng-app="ERP-APP">
    @{ ERP_WebDesign_Main.Model_BL.User_BL.Users_BL objUserBL = new ERP_WebDesign_Main.Model_BL.User_BL.Users_BL(); }

    <div id="header" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="icon-reorder"></i>
            </button>
            <a class="navbar-brand" href="#">
                <img src="~/Images/ERP_Logo.jpg" style="height:45px;" />
            </a>
        </div>
        @if (objUserBL.IsAuthenticated())
        {
            <nav class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a href="#" id="nbAcctDD" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i><strong>@("Hello, " + Html.Encode(User.Identity.Name))</strong><i class="icon-sort-down"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <li>@Html.ActionLink("Sign Out", "Logout", "Home")</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        }
    </div>
    <div id="wrapper">
        @if (objUserBL.IsAuthenticated())
        {
            <div id="sidebar-wrapper" class="col-md-1">

                <div id="sidebar">
                    <ul class="nav list-group">
                        @*<li>
                                <a class="list-group-item" href="@Url.Action("ProductMaster_Index","MasterData")"><i class="icon-home icon-1x"></i>Product Master</a>
                            </li>*@
                        <li>
                            <a class="list-group-item" href="@Url.Action("CodificationMaster_Index","MasterData")"><i class="icon-home icon-1x"></i>Codification Master</a>
                        </li>
                        <li>
                            <a class="list-group-item" href="@Url.Action("RackMaster_Index","MasterData")"><i class="icon-home icon-1x"></i>Rack Master</a>
                        </li>
                        <li>
                            <a class="list-group-item" href="@Url.Action("GroupsMaster_Index","MasterData")"><i class="icon-home icon-1x"></i>Group Master</a>
                        </li>
                        <li>
                            <a class="list-group-item" href="@Url.Action("ItemsMaster_Index","MasterData")"><i class="icon-home icon-1x"></i>Item Master</a>
                        </li>
                        <li>
                            <a class="list-group-item" href="@Url.Action("SpecificationMaster_Index","MasterData")"><i class="icon-home icon-1x"></i>Specification Master</a>
                        </li>
                    </ul>
                </div>

            </div>
        }
        <div id="main-wrapper" class="col-md-11 pull-right">
            <div id="main">
                @RenderBody()
            </div>

            <div class="col-md-12 footer">
                <ul class="nav navbar-nav"><li>@DateTime.Now.Year - ERP Application</li></ul>
            </div>

        </div>
    </div>



    @RenderSection("scripts", required: false)

    <div class="modal fade" id="thankyouModal" tabindex="-1" role="dialog" aria-labelledby="thankyouLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Message</h4>
                </div>
                <div class="modal-body">
                    <p>Data has been submitted successfully!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" id="ok">Ok</button>

                </div>
            </div>
        </div>
    </div>

</body>
</html>
