@model ERP_WebDesign_Main.Models.MasterData_Model.Codification_Model

@{
    ViewBag.Title = "Upadte existing codification";
}

<h2>Upadte existing codification</h2>
<script src="~/Scripts/Codification/controller.js"></script>
<script src="~/Scripts/Codification/factory.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" ng-controller="codification" ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.GroupID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select ng-model="Codification_Model.GroupID" ng-change="GetItems()" ng-disabled="DisableAllDropdown">
                    <option ng-repeat="row in Codification_Model.Groups" code="{{row.Code}}" value="{{row.Value}}">{{row.DisplayText}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select ng-model="Codification_Model.ItemID" ng-change="GetSpecs()" ng-disabled="DisableAllDropdown">
                    <option ng-repeat="row in Codification_Model.Items" code="{{row.Code}}" value="{{row.Value}}">{{row.DisplayText}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpecificationID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select ng-model="Codification_Model.SpecificationID" ng-disabled="DisableAllDropdown">
                    <option ng-repeat="row in Codification_Model.Specifications" code="{{row.Code}}" value="{{row.Value}}">{{row.DisplayText}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RackID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select ng-model="Codification_Model.RackID" ng-disabled="DisableAllDropdown">
                    <option ng-repeat="row in Codification_Model.Racks" code="{{row.Code}}" value="{{row.Value}}">{{row.DisplayText}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodificationCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" ng-model="Codification_Model.CodificationCode" ng-disabled="true" />
            </div>
        </div>

        <div class="form-group" ng-if="ErrorFlagValidation">
            <span class="col-md-10" ng-bind="ErrorMessageValidation">
            </span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Generate code" ng-click="GenerateCode()" class="btn btn-default" />
                <input type="button" value="Update" ng-disabled="!IsCodePresent" class="btn btn-default" ng-click="UpdateCodi()" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
