@model ERP_WebDesign_Main.Models.MasterData_Model.Codification

@{
    ViewBag.Title = "List of codification";
}

<script src="~/Scripts/MasterData_JS/controller.js"></script>
<script src="~/Scripts/MasterData_JS/factory.js"></script>
<h2>List of codification</h2>

<p>
    @Html.ActionLink("Create New", "CodificationMaster_Create")
</p>
<div ng-controller="codification" ng-init="BindCodificationForIndex(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
    <div class="searchText">
        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Group-Item-Specification-Rack" placeholder="Search" id="searchText" ng-model="SearchText" ng-keyup="Search('@Url.Action("CodificationMaster_Search", "MasterData")')" />
    </div>
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Collection[0].CodificationCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection[0].CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection[0].ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection[0].ModifiedDateTime)
            </th>
            <th></th>
        </tr>

        <tbody>
            <tr ng-repeat="row in Codification_Model">

                <td>
                    {{row.CodificationCode}}

                </td>
                <td>
                    {{row.CreatedBy}}

                </td>
                <td>
                    {{row.CreatedDateTime|dateconvert}}

                </td>
                <td>
                    {{row.ModifiedBy}}

                </td>
                <td>
                    {{row.ModifiedDateTime|dateconvert}}

                </td>
                <td>
                    <a href="@Url.Action("CodificationMaster_Edit","MasterData")?CodiId={{row.CodificationID}}">Edit</a>
                    @*@Html.ActionLink("Edit", "CodificationMaster_Edit", new { CodiId = item.CodificationID })*@
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { ItemId = item.ProductID  })*@
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagingFooter">
        <div class="pull-right">
            <pagination total-items="TotalCount" ng-change="PageChanged('@Url.Action("CodificationMaster_PageChanged", "MasterData")')" items-per-page="PageSizeSelected" direction-links="true" ng-model="PageIndex" max-size="MaxSize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        </div>
    </div>
</div>
