@model IEnumerable<ERP_WebDesign_Main.Models.MasterData_Model.ProcessMaster_Model>

@{
    ViewBag.Title = "Process Master Home";
}

<h2>Process Master Home</h2>

<p>
    @Html.ActionLink("Create New", "ProcessMaster_Create")
</p>
<table class="table">
    <tr>
        
        @*<th>
            @Html.DisplayNameFor(model => model.ProcessID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ProcessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcessDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        @*<td>
            @Html.DisplayFor(modelItem => item.ProcessID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ProcessName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcessDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "ProcessMaster_Edit", new { ItemId = item.ProcessID }) |
            @Html.ActionLink("View", "ProcessMaster_Details", new { ItemId = item.ProcessID }) @*|
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
